<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>{{ label }}</h1>

    {% for game in games %}
        <table>
            <tr>
                <th> {{ game.category }} </th>
            </tr>

            {% for question in game.questions %}
                <tr>
                    <td> {{ question.label }} </td>
                </tr>
            {% endfor %}

        </table>
        <br /><br />
    {% endfor %}
</body>
</html>