<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    {% for game in games %}

        <h1>{{ game.label }} created at {{ game.created_at }}</h1>

        {% for game_data in game.content %}
            <table>
                <tr>
                    <th> {{ game_data.category }} </th>
                </tr>

                {% for question in game_data.questions %}
                    {% if question.label_de %}
                        <tr>
                            <td> {{ question.label_de }} </td>
                        </tr>
                    {% elif question.label_fr %}
                        <tr>
                            <td> {{ question.label_fr }} </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td> {{ question.label }} </td>
                        </tr>
                    {% endif %}

                {% endfor %}

            </table>
            <br /><br />
        {% endfor %}
    {% endfor %}
</body>
</html>